@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    font-family: 'Kanit', sans-serif;
    --green:#31ad99;
}
body{
    width: 100%;
    overflow-x: hidden;
    font-size: 20px;
}

footer{
    line-height: 2em;
    font-size: 14px;
}

ul.navbar-nav a:hover { color: var(--green) !important; }
ul.navbar-nav a:focus { color: var(--green) !important; }
ul.navbar-nav a:active { color: var(--green) !important; }

.navbar{
    font-size: 16px;
}