@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
* {
    font-family: 'Kanit', sans-serif;
    --green: #31ad99;
    --price: #fc5e03;
}

body {
    width: 100%;
    overflow-x: hidden;
}

footer {
    line-height: 2em;
    font-size: 14px;
}

ul.navbar-nav a:hover {
    color: var(--green) !important;
}

ul.navbar-nav a:focus {
    color: var(--green) !important;
}

ul.navbar-nav a:active {
    color: var(--green) !important;
}

.active a {
    color: var(--green) !important;
}

.navbar {
    font-size: 16px;
}

.cart:hover {
    fill: var(--green);
}

.max-lines {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* book */
/* .p{ text-align: center;} */
.btn{
    width: 50px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 50px !important;
    text-align: center;
    padding: 0px;
    font-size:15px;
    border-radius: 7px;
    margin-right: 20px;
    }
.b1{
    background-color: #CC80C4;
}
.b2{
    background-color: #F4DB9B;
}
.b3{
    background-color: #83C8DE;
}
.b4{
    background-color: #ED8181;
}
.b5{
    background-color: #78B694;
}
.b6{
    background-color: #7489D1;
}
.b7{
    background-color: #D3CE50;
}
.b8{
    background-color: #E09149;
}